body {
    background: linear-gradient(rgb(208, 222, 229), rgb(218, 248, 219));
}

#flex-container {
    display: grid;
    flex-direction: column;
    justify-content: center;
}

.board {
    display: grid;
    width: 500px;
    height: 500px;
}
